@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar-container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px 20px 50px;
  position: relative;
}

.logo-img {
  display: flex;
  align-items: center;
}

.logo-img img {
  height: 25px;
}

.left-side,
.right-side {
  display: flex;
  align-items: center;
}

.hidden-links {
  display: none;
  position: absolute;
  top: 70px;
  left: 130px;
  gap: 20px;
  background-color: rgba(240, 238, 235, 0.788);
  padding: 20px;
  border-radius: 25px;
}

.hidden-links a {
  text-decoration: none;
  color: rgba(46, 46, 46, 0.767);
}

.main-links a {
  text-decoration: none;
  color: rgba(46, 46, 46, 0.767);
  margin-right: 20px;
  margin-left: 30px;
  font-weight: bold;
}

.btn-register button {
  padding: 10px;
  background: transparent;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  color: rgba(46, 46, 46, 0.767);
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

.btn-register button:hover {
  background-color: black;
  color: white;
  transition: all 0.3 ease;
}

.main-content {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.title-content {
  font-size: 40px;
}

.description-content p {
  max-width: 400px;
  color: rgba(46, 46, 46, 0.767);
  font-size: 18px;
  margin: 15px 0px 35px 0;
}

.btn-learn button {
  padding: 15px 25px 15px 25px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
}

.icons-empresas {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.img-main img {
  width: 500px;
}

.show {
  display: flex;
  flex-direction: column;
}

.mobile-menu {
  display: none;
}

.links-mobile {
  display: none;
  flex-direction: column;
  position: relative;
  justify-content: center;
  text-align: center;
  gap: 20px;
  background-color: rgba(240, 238, 235, 0.788);
  padding: 20px;
  border-radius: 25px;
}

.links-mobile a{
    text-decoration: none;
  color: rgba(46, 46, 46, 0.767);
}

.flex-ativar {
  display: flex;
}

.menu-mobile-btn{
  background: transparent;
  border: none;
}

@media screen and (max-width: 1200px) {
  .left-content {
    position: relative;
    text-align: center;
  }

  .img-main img {
    width: 300px;

    position: relative;
  }

  .left-content h1,
  h2 {
    font-size: 40px;
  }

  .icons-empresas {
    gap: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .main-content {
    gap: 100px;
  }
}

@media screen and (max-width: 830px) {
  .main-content {
    flex-direction: column;
    position: relative;
    top: 100px;
  }

  .main-links {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}
